// Colors
$black: black;

// Grid
$ALL_COLUMNS: 12;

// Flexbox
$FLEX_VALUES_LIST: (
  start: "flex-start",
  center: "center",
  end: "flex-end",
  between: "space-between",
  around: "space-around",
  evenly: "space-evenly"
);

// Padding
$COUNT_PADDING: 6;
$PADDING_SIZE: 4;

// Margin
$COUNT_MARGIN: 6;
$MARGIN_SIZE: 4;
